body {
  margin: 2em;
}

.huge {
  font-size: 24px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-body {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #0A360A;
}

/*panel red*/
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-body {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover{
  color: #d95829;
}