.center {
    margin: auto;
    width: 50%;
}

/*panel yelow*/
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-body {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}