<section class="container" *ngIf="hero">
    <div class="panel panel-primary">
        <div class="panel-heading">{{heroFormTitle}}</div>
        <div class="panel-body" *ngIf="hero">
            <form [formGroup]="heroForm" (submit)="onSubmit()" novalidate>
                <!-- Name-->
                <div class="form-group" [ngClass]="{ 'has-error': formError.name }">
                    <label class="control-label" for="hero_name">Nombre</label>
                    <input type="text" class="form-control" id="hero_name" placeholder="Nombre" formControlName="name">
                    <span class="help-block" *ngIf="formError.name">{{ formError.name }}</span>
                </div>

                <!-- Power-->
                <div class="form-grup" [ngClass]="{ 'has-error': formError.power }">
                    <label for="hero_power" class="control-label">Cantidad de poder</label>
                    <input type="text" class="form-control" id="hero_power" placeholder="Cantidad de poder" formControlName="power">
                    <span class="help-block" *ngIf="formError.power">{{ formError.power }}</span>
                </div>

                <!-- Amount People Saved-->
                <div class="form-grup" [ngClass]="{ 'has-error': formError.amountPeopleSaved }">
                    <label for="hero_amountPeopleSaved" class="control-label">Personas salvadas</label>
                    <input type="text" class="form-control" id="hero_amountPeopleSaved" placeholder="Personas salvadas" formControlName="amountPeopleSaved">
                    <span class="help-block" *ngIf="formError.amountPeopleSaved">{{ formError.amountPeopleSaved }}</span>
                </div>

                <!-- Submit-->
                <div>
                    <button type="submit" [disabled]='!heroForm.valid' class="btn btn-primary btn-block">{{ buttonTitle }}</button>
                    <button type="" class="btn btn-danger btn-block" (click)="onCancel()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</section>